body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 20%;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.StudyPlan {
  margin-bottom: 10%;
}

#EnterStudyPlan {
  display: block;
  width: 300px;
  height: 75%;
  border: solid 2px black;
  padding-left: 2.5%;
  margin-bottom: 5%;
}

input::placeholder {
  color: gainsboro;
  font-style: italic;
}

.list_box {
  display: flex;
  font-weight: 800;
  justify-content: space-around;
}

.Todolist_box {
  padding: 0% 5%;
}

.Donelist_box {
  padding: 0% 5%;
}

.PlanContainer {
  width: 60%;
}

.Button {
  background-color: ghostwhite;
  border-color: ghostwhite;
  border-radius: 10%;
  font-weight: 800;
}

ul {
  list-style: none;
  padding-left: 0px;
}
